<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtIQ | Opportunities</title>
    <link rel="stylesheet" href="main-style.css">
    <script src="https://kit.fontawesome.com/f4f79a9cc1.js" crossorigin="anonymous"></script>
    <script src="Angular/angular.js"></script>
    <script src="JQuery/jquery.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <div class="topnav">
        <div class="leftmost">
            <a class="active" href="#" id="home">ArtIQ</a>
        </div>
        <div class="middle">
            <a href="#" id="categories">All Categories</a>
            <a href="#" id="opportunities">Opportunities</a>
            <a href="#" id="community">Community</a>
            <a href="#" id="contact">Contact</a>
        </div>
        <div class="rightmost">
            <a href="#" id="user-name"></a>
            <a href="#" id="cart"><i class="fa-solid fa-cart-shopping" style="color: white;"></i>&nbsp;&nbsp;Cart</a>
        </div>
    </div>

    <div class="fourth">
        <h1 id="welcome"></h1>
        <br>
        <p>Fill the following details to start your journey:</p>
        <br>
        <form id="teacher_submit">
            <table class="table">
                <tr>
                    <td>Name:</td>
                    <td><input type="text" id="fname" name="Name" required></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="email" id="email" name="Email" required ng-model="email"></td>
                </tr>
                <tr>
                    <td>Class:</td>
                    <td>
                        <select id="category" required ng-model="class" name="Class">
                            <option value="">Select Class</option>
                            <option value="Animation">Animation</option>
                            <option value="Creative Writing">Creative Writing</option>
                            <option value="Film & Video">Film & Video</option>
                            <option value="Fine Art">Fine Art</option>
                            <option value="Graphic Design">Graphic Design</option>
                            <option value="Illustration">Illustration</option>
                            <option value="Music">Music</option>
                            <option value="Photography">Photography</option>
                            <option value="UI/UX Design">UI/UX Design</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Course name:</td>
                    <td><input type="text" id="course" required ng-model="course" name="Course_name"></td>
                </tr>
                <tr>
                    <td>Description about the course:</td>
                    <td><textarea id="message" rows="5" required ng-model="message" name="Message"></textarea></td>
                </tr>
                <tr>
                    <td>Course resources:</td>
                    <td><input type="file" id="resources" required ng-model="resources"></td>
                </tr>
                <tr>
                    <td>Estimated time to complete the course:</td>
                    <td><input type="number" id="time" required ng-model="time" name="Time"></td>
                </tr>
                <tr>
                    <td>Estimated Price:</td>
                    <td><input type="number" id="price" required ng-model="price" name="Price"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="submit" id="submit" value="Submit" style="width: 200px; height: 40px; background-color: blueviolet; color: white; border-radius: 10px; border: 2px solid white;cursor: pointer;"></td>
                </tr>
            </table>
        </form>
        <br>
        <div class="third course-content">
            <div class="col1">
                <h3 ng-bind="course"></h3>
            </div>
            <div class="col1">
                <table>
                    <tr>
                        <td id="span"></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <p>About this course:</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <p ng-bind="message"></p>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <span ng-bind="time"></span>
                        </td>
                        <td>
                            <span ng-bind="price"></span>
                        </td>
                        <td>
                            <span ng-bind="class"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Estimated time (min)</span>
                        </td>
                        <td>
                            <span>Estimated price ($)</span>
                        </td>
                        <td>
                            <span>Class</span>
                        </td>
                    </tr>
                </table>
                
            </div>
        </div>
    </div>

    <footer>
        <div class="foot">
            <div class="leftmost">
                <a class="active" href="#" id="artiq">ArtIQ</a>
                <br><br>
                <p>ArtIQ is an online skill sharing platform that helps you learn new skills. It offers unlimited access
                    to best courses from best specialist to learn thousands of practical lessons in a multitude of
                    fields.</p>
            </div>
            <div>
                <div class="download">
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-linkedin"></i>
                </div>
                <div class="images">
                    <img src="assets/playstore.png" alt="">
                </div>
            </div>
            <div class="top">
                <a href="#top"><i class="fa fa-arrow-up"></i></a>
            </div>
        </div>
        <p>© 2024 ArtIQ. All rights reserved</p>
    </footer>

    <script src="opportunity.js"></script>
    <script>
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

        // Retrieve the name parameter from the URL
        var name = getParameterByName('name');
        // Check if the name parameter exists and display it
        if (name) {
            document.getElementById('fname').value = name;
            document.getElementById('span').innerHTML = 'Name: '+name;
            document.getElementById('welcome').innerHTML = 'Welcome, ' + name + '!';
            document.getElementById('artiq').href = 'http://localhost:3000/homepage.html?name=' + encodeURIComponent(name);
            document.getElementById('user-name').innerHTML = '<img src="assets/profile.png" height="20px">&nbsp;&nbsp;' + name;
            document.getElementById('home').href = 'http://localhost:3000/homepage.html?name=' + encodeURIComponent(name);
            document.getElementById('opportunities').href = 'http://localhost:3000/opportunity.html?name=' + encodeURIComponent(name);
            document.getElementById('community').href = 'http://localhost:3000/community.html?name=' + encodeURIComponent(name);
            document.getElementById('contact').href = 'http://localhost:3000/contact.html?name=' + encodeURIComponent(name);
            document.getElementById('categories').href = 'http://localhost:3000/categories.html?name=' + encodeURIComponent(name);
            document.getElementById('user-name').href = 'http://localhost:3000/account.html?name=' + encodeURIComponent(name);
            document.getElementById('cart').href = 'http://localhost:3000/cart.html?name=' + encodeURIComponent(name);
            function nav() {
                window.location.href = 'http://localhost:3000/opportunities.html?name=' + encodeURIComponent(name);
            }
        } else {
            document.getElementById('user-name').innerHTML = '<img src="assets/profile.png" height="20px">&nbsp;&nbsp;guest';
            document.getElementById('home').href = 'http://localhost:3000/homepage.html?name=guest';
            document.getElementById('opportunities').href = 'http://localhost:3000/opportunity.html?name=guest';
            document.getElementById('community').href = 'http://localhost:3000/community.html?name=guest';
            document.getElementById('contact').href = 'http://localhost:3000/contact.html?name=guest';
            document.getElementById('categories').href = 'http://localhost:3000/categories.html?name=guest';
            document.getElementById('user-name').href = 'http://localhost:3000/account.html?name=guest';
            document.getElementById('cart').href = 'http://localhost:3000/cart.html?name=guest';
        }

        angular.module('myApp', []).controller('myCtrl', function ($scope) {
            
        })
    </script>
</body>
</html>