<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillSwap | Signup</title>
    <script src="Angular/angular.js"></script>
</head>

<body ng-app="myApp" ng-controller="registrationController">
    <!-- registration.html -->
    <form name="registrationForm" ng-submit="register()" novalidate>
        <input type="email" name="email" ng-model="user.email" required />
        <input type="password" name="password" ng-model="user.password" required />
        <input type="submit" value="Register" />
    </form>
    <script src="registrationController.js"></script>
</body>

</html>


